.App {
	height: 100vh; /* Необходимо для вертикального центрирования */
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px 0 10px;
}

h1 {
	text-align: center;
}

.descriptionTest {
	text-align: justify;
}

.resultBody {
	display: flex;
}

.button {
	margin-bottom: 10px;
	padding: 20px;
	background: lightsteelblue;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}





